<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<h1>Movie List</h1>
<a th:href="@{/movies/new}">Add new Movie</a>
<form th:action="@{/movies}" method="get">
    <label>Search by title: </label>
    <input type="text" name="title" th:value="${title != null ? title : ''}">
    <label>Search by director: </label>
    <input type="text" name="director" th:value="${director != null ? director : ''}">
    <label>Search by release date</label>
    <input type="date" name="releaseDate" th:value="${releaseDate}">

    <button type="submit">Search</button>
</form>
<table border="1">
    <tr>
        <th>Movie Title</th>
        <th>Director</th>
        <th>Release Date</th>
        <th>Duration (minutes)</th>
        <th>Actions</th>
    </tr>
    <tr th:each="movie : ${movies}">
    <td th:text="${movie.title}">Title</td>
    <td th:text="${movie.director}">Director</td>
    <td th:text="${movie.releaseDate}">Date</td>
    <td th:text="${movie.durationMinutes}">Duration</td>

        <td style="text-align: center">
            <a th:href="@{/movies/edit/{id}(id=${movie.id})}">Edit</a>
            <form th:action="@{/movies/{id}/delete(id=${movie.id})}" method="post" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<div>
    <a th:if="${currentPage > 0}"
       th:href="@{/movies(page=${currentPage - 1}, title=${title}, director=${director}, releaseDate=${releaseDate})}">
        Previous
    </a>
    <span>
        Sida [[${currentPage + 1}]] av [[${totalPages}]]}
    </span>
    <a th:if="${currentPage + 1 < totalPages}"
       th:href="@{/movies(page=${currentPage + 1}, title=${title}, releaseDate=${releaseDate})}">
        Next
    </a>
</div>
</body>
</html>